# Lesson 01
# Introduction to the Course, Course Tools, Python Setup, Jupyter Notebook, Data Types, Functions

![http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg](http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lesson-01" data-toc-modified-id="Lesson-01-1">Lesson 01</a></span></li><li><span><a href="#Introduction-to-the-Course,-Course-Tools,-Python-Setup,-Jupyter-Notebook,-Data-Types,-Functions" data-toc-modified-id="Introduction-to-the-Course,-Course-Tools,-Python-Setup,-Jupyter-Notebook,-Data-Types,-Functions-2">Introduction to the Course, Course Tools, Python Setup, Jupyter Notebook, Data Types, Functions</a></span><ul class="toc-item"><li><span><a href="#Recommended-Resources" data-toc-modified-id="Recommended-Resources-2.1">Recommended Resources</a></span></li><li><span><a href="#Learning-Objectives" data-toc-modified-id="Learning-Objectives-2.2">Learning Objectives</a></span></li><li><span><a href="#Introduction-to-the-Course" data-toc-modified-id="Introduction-to-the-Course-2.3">Introduction to the Course</a></span></li><li><span><a href="#Course-Tools" data-toc-modified-id="Course-Tools-2.4">Course Tools</a></span><ul class="toc-item"><li><span><a href="#Slack" data-toc-modified-id="Slack-2.4.1">Slack</a></span></li><li><span><a href="#GitHub" data-toc-modified-id="GitHub-2.4.2">GitHub</a></span></li><li><span><a href="#Anaconda" data-toc-modified-id="Anaconda-2.4.3">Anaconda</a></span></li><li><span><a href="#Jupyter-Notebook" data-toc-modified-id="Jupyter-Notebook-2.4.4">Jupyter Notebook</a></span></li><li><span><a href="#Google-Colab-Notebooks" data-toc-modified-id="Google-Colab-Notebooks-2.4.5">Google Colab Notebooks</a></span></li></ul></li><li><span><a href="#GitHub" data-toc-modified-id="GitHub-2.5">GitHub</a></span><ul class="toc-item"><li><span><a href="#Fork-this-Lesson-Repo" data-toc-modified-id="Fork-this-Lesson-Repo-2.5.1">Fork this Lesson Repo</a></span><ul class="toc-item"><li><span><a href="#Fork" data-toc-modified-id="Fork-2.5.1.1">Fork</a></span></li><li><span><a href="#Clone" data-toc-modified-id="Clone-2.5.1.2">Clone</a></span></li></ul></li></ul></li><li><span><a href="#Google-Colab-Notebooks---Let's-Make-a-Quick-Map-with-Python" data-toc-modified-id="Google-Colab-Notebooks---Let's-Make-a-Quick-Map-with-Python-2.6">Google Colab Notebooks - Let's Make a Quick Map with Python</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#In-the-first-cell-add:" data-toc-modified-id="In-the-first-cell-add:-2.6.0.1">In the first cell add:</a></span></li><li><span><a href="#Then,-we-import-the-following-libraries" data-toc-modified-id="Then,-we-import-the-following-libraries-2.6.0.2">Then, we import the following libraries</a></span></li><li><span><a href="#Next,-we'll-load-in-Natural-Earth-World-Countries-Features" data-toc-modified-id="Next,-we'll-load-in-Natural-Earth-World-Countries-Features-2.6.0.3">Next, we'll load in Natural Earth World Countries Features</a></span></li><li><span><a href="#Now-let's-take-a-look-at-the-Countries-Feature-Layer-dataframe" data-toc-modified-id="Now-let's-take-a-look-at-the-Countries-Feature-Layer-dataframe-2.6.0.4">Now let's take a look at the Countries Feature Layer dataframe</a></span></li><li><span><a href="#Now-let's-Make-a-Map!" data-toc-modified-id="Now-let's-Make-a-Map!-2.6.0.5">Now let's Make a Map!</a></span></li></ul></li></ul></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-2.7">Python Setup</a></span><ul class="toc-item"><li><span><a href="#Anaconda---Python-3.7" data-toc-modified-id="Anaconda---Python-3.7-2.7.1">Anaconda - Python 3.7</a></span></li></ul></li><li><span><a href="#Python-Data-Types" data-toc-modified-id="Python-Data-Types-2.8">Python Data Types</a></span><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-2.8.1">Integers</a></span></li><li><span><a href="#Float" data-toc-modified-id="Float-2.8.2">Float</a></span></li><li><span><a href="#Boolean" data-toc-modified-id="Boolean-2.8.3">Boolean</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-2.8.4">Strings</a></span></li><li><span><a href="#Properties-of-Strings" data-toc-modified-id="Properties-of-Strings-2.8.5">Properties of Strings</a></span><ul class="toc-item"><li><span><a href="#Slice" data-toc-modified-id="Slice-2.8.5.1">Slice</a></span></li></ul></li><li><span><a href="#Python-Operators-(+,-=,--,-*)" data-toc-modified-id="Python-Operators-(+,-=,--,-*)-2.8.6">Python Operators (+, =, -, *)</a></span><ul class="toc-item"><li><span><a href="#Addition" data-toc-modified-id="Addition-2.8.6.1">Addition</a></span></li><li><span><a href="#Subtraction" data-toc-modified-id="Subtraction-2.8.6.2">Subtraction</a></span></li><li><span><a href="#Multiplication" data-toc-modified-id="Multiplication-2.8.6.3">Multiplication</a></span></li><li><span><a href="#Division" data-toc-modified-id="Division-2.8.6.4">Division</a></span></li><li><span><a href="#Floor-Operator" data-toc-modified-id="Floor-Operator-2.8.6.5">Floor Operator</a></span></li><li><span><a href="#Modulo-Operator" data-toc-modified-id="Modulo-Operator-2.8.6.6">Modulo Operator</a></span></li><li><span><a href="#Exponentiate" data-toc-modified-id="Exponentiate-2.8.6.7">Exponentiate</a></span></li></ul></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-2.9">Variables</a></span><ul class="toc-item"><li><span><a href="#Variable-Naming-Rules" data-toc-modified-id="Variable-Naming-Rules-2.9.1">Variable Naming Rules</a></span></li></ul></li><li><span><a href="#Collections-Data-Types" data-toc-modified-id="Collections-Data-Types-2.10">Collections Data Types</a></span><ul class="toc-item"><li><span><a href="#List" data-toc-modified-id="List-2.10.1">List</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-2.10.2">Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionaries-can-be-nested" data-toc-modified-id="Dictionaries-can-be-nested-2.10.2.1">Dictionaries can be nested</a></span></li></ul></li><li><span><a href="#Other-Collection-Types" data-toc-modified-id="Other-Collection-Types-2.10.3">Other Collection Types</a></span></li></ul></li><li><span><a href="#Built-in-Python-Functions" data-toc-modified-id="Built-in-Python-Functions-2.11">Built-in Python Functions</a></span></li></ul></li></ul></div>

## Recommended Resources

## Learning Objectives

* To familiarize students with the course format
* Introduce the Course Tools
* Introduce Students to our Python Setup
* Introduction to Python Data Types
* Introduction to Python Functions

## Introduction to the Course

**[Syllabus](https://docs.google.com/document/d/1KHxT-NkaoXXdSNkK8JlzL2FFgmNoxPQ25fwgtXPnbrY)**

**Class Format**:
* 3 hour Classes
  * 50 minutes of Lesson
  * 5-10 minute Break
  * 50 minutes of Lesson
  * 5-10 minute Break
  * ~45 minutes of Lesson
  * 10-15 minutes Homework Introduction, etc. 
  * (this is subject to change)

## Course Tools 

### Slack 
* [Join the Slack Group](https://join.slack.com/t/pratt-savi/shared_invite/zt-cywzjb3p-4Q_JaZNuenRGgf28tyMbRw)

### GitHub

* [Download GitHub Desktop](https://desktop.github.com/)
* [Create a GitHub Account](https://github.com/)

### Anaconda

* [Download and Install Anaconda for Python 3.7](https://www.anaconda.com/distribution/#download-section)
* [Installation Instructions](https://docs.anaconda.com/anaconda/install/)
* [Download Anaconda Cheatsheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)
* ``conda create --name savi``


### Jupyter Notebook
> The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more. - Source: [https://jupyter.org/](https://jupyter.org/)

### Google Colab Notebooks

* [Create a new Notebook](https://colab.research.google.com/notebook#create=true)

## GitHub

### Fork this Lesson Repo

https://github.com/pratt-savi-810/pratt-savi-810-2020-03-lesson_01

#### Fork

![fork](https://raw.githubusercontent.com/pratt-savi-810/images/master/fork.png)

---

#### Clone 

![clone](https://raw.githubusercontent.com/pratt-savi-810/images/master/clone.png)

## Google Colab Notebooks - Let's Make a Quick Map with Python

![colab](https://raw.githubusercontent.com/pratt-savi-810/images/master/colab_map.png)

* [Create a new Notebook](https://colab.research.google.com/notebook#create=true)

#### In the first cell add:

```python
%%time 
!apt update
!apt upgrade
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
```

#### Then, we import the following libraries
We'll discuss Libraries later on.

In [6]:
import os  # importing the os python library
import geopandas as gpd   # import geopandas

# I use the hash symbol to comment my code 
# We use commenting to talk to the code reader, and to explain what we're doing 
# in this section of code

'apt' is not recognized as an internal or external command,
operable program or batch file.
'apt' is not recognized as an internal or external command,
operable program or batch file.
'apt' is not recognized as an internal or external command,
operable program or batch file.
'apt' is not recognized as an internal or external command,
operable program or batch file.

Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to c:\users\dun4g\appdata\local\temp\pip-req-build-tquvnse9
Requirement already satisfied: pandas>=0.23.0 in c:\users\dun4g\anaconda3\lib\site-packages (from geopandas==0.7.0+13.g6b037d0) (1.0.1)
Collecting shapely
  Downloading Shapely-1.7.0-cp37-cp37m-win_amd64.whl (1.0 MB)
Collecting fiona
  Downloading Fiona-1.8.13.post1.tar.gz (1.2 MB)

  Running command git clone -q git://github.com/geopandas/geopandas.git 'C:\Users\dun4g\AppData\Local\Temp\pip-req-build-tquvnse9'
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\dun4g\anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\dun4g\\AppData\\Local\\Temp\\pip-install-pm0i1ur0\\fiona\\setup.py'"'"'; __file__='"'"'C:\\Users\\dun4g\\AppData\\Local\\Temp\\pip-install-pm0i1ur0\\fiona\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\dun4g\AppData\Local\Temp\pip-install-pm0i1ur0\fiona\pip-egg-info'
         cwd: C:\Users\dun4g\AppData\Local\Temp\pip-install-pm0i1ur0\fiona\
    Complete output (1 lines):
    A GDAL API version must be specified. Provide a path to gdal-config using a GDAL_CONFIG environment variable or use a GDAL_VERSION environment variable.
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

Collecting descartes
  Downloading descartes-1.1.0-py3-none-any.whl (5.8 kB)
Requirement already satisfied: matplotlib in c:\users\dun4g\anaconda3\lib\site-packages (from descartes) (3.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\dun4g\anaconda3\lib\site-packages (from matplotlib->descartes) (2.4.6)
Requirement already satisfied: numpy>=1.11 in c:\users\dun4g\anaconda3\lib\site-packages (from matplotlib->descartes) (1.18.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dun4g\anaconda3\lib\site-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dun4g\anaconda3\lib\site-packages (from matplotlib->descartes) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dun4g\anaconda3\lib\site-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied: six in c:\users\dun4g\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->descartes) (1.14.0)
Requirement already satisfied: setuptools in c:\users\dun4g\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->descartes) (45.2.0.post20200210)
Installing collected packages: descartes
Successfully installed descartes-1.1.0
Wall time: 1min 54s

#### Next, we'll load in Natural Earth World Countries Features 
These features are natively installed with GeoPandas. We'll talk about GeoPandas later on as well.

In [4]:
countries = gpd.read_file(
    gpd.datasets.get_path('naturalearth_lowres')
)  # but what I've done is read in a geospatial file.

NameError: name 'gpd' is not defined

#### Now let's take a look at the Countries Feature Layer dataframe 
We'll talk about DataFrames later on.

In [ ]:
countries

#### Now let's Make a Map!
This is very easy with GeoPandas. Making maps later on will be more complicated.

In [ ]:
countries.plot()

## Python Setup

For this class we will use Anaconda Python.

### Anaconda - Python 3.7

* [Download and Install Anaconda for Python 3.7](https://www.anaconda.com/distribution/#download-section)
* [Installation Instructions](https://docs.anaconda.com/anaconda/install/)
* [Download Anaconda Cheatsheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)
* ``conda create --name savi``

## Python Data Types
Learn more about [Python Data Types from Python.org](https://docs.python.org/3.7/library/datatypes.html).

You can check any Python object's type with the `type()` function. 

### Integers

In [2]:
a = 5

In [3]:
type(a)

int

### Float 
Floats are decimal numeric types

In [7]:
1.25

1.25

In [10]:
x = 5.02162

In [9]:
type(x)

float

### Boolean 

`True` or `False` data type

In [11]:
type(True)

bool

In [12]:
type(False)

bool

In [13]:
not True

False

In [14]:
not False

True

In [15]:
1 == True
# True is 1  == is the Equality Operator

True

In [17]:
1 == False
# False is 0  == is the Equality Operator

False

In [18]:
0 == False

True

In [19]:
True == 1

True

In [21]:
False < 1
# False is 0

True

### Strings
Strings are a data type that stores text as data. 

**You can add comments to lines of codes with the hash symbol** `# comment`

In [25]:
# strings can be stored inside double-quotes
"Pratt SAVI GIS and Design"

'Pratt SAVI GIS and Design'

In [26]:
# strings can be stored in single-quotes
'GIS Data Analysis'

'GIS Data Analysis'

In [27]:
# you can set a "variable" to equal the string to store for later...
first_name = "Katherine"

In [29]:
last_name = "Kim"

In [32]:
full_name = first_name + ' ' + last_name

In [33]:
print(full_name)

Katherine Kim

### Properties of Strings
You can

In [34]:
full_name.upper()  #SHIFT + TAB + TAB will show you the detail of the method

'KATHERINE KIM'

In [35]:
full_name.lower()

'katherine kim'

In [36]:
len(full_name)

13

In [39]:
full_name.split()

['Katherine', 'Kim']

In [40]:
full_name.split('t')   #split by 't'

['Ka', 'herine Kim']

#### Slice

In [41]:
first_name[0]

'K'

In [49]:
first_name[3]

'h'

In [52]:
# gets middle 
first_name[]

'a'

In [47]:
# gets first three, index 0, 1, 2
first_name[:3]

'Kat'

In [46]:
# Also gets first three
first_name[0:3]

'Kat'

In [44]:
# Gets all but first 1
first_name[1:]

'atherine'

In [43]:
# reversed
first_name[::-1]

'enirehtaK'

### Python Operators (+, =, -, *)

#### Addition

In [12]:
# you can add strings together with +

#### Subtraction

#### Multiplication

In [13]:
# you can multiply strings!

#### Division

In [54]:
# Note this operates slightly differently for integers in Python 2.x
10/3

3.3333333333333335

#### Floor Operator 

> The / (division) and // (floor division) operators yield the quotient of their arguments. The numeric arguments are first converted to a common type. Division of integers yields a float, while floor division of integers results in an integer; the result is that of mathematical division with the ‘floor’ function applied to the result. Division by zero raises the ZeroDivisionError exception. - Source: [https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations](https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations)

In [53]:
10 // 3

3

#### Modulo Operator

> The % (modulo) operator yields the remainder from the division of the first argument by the second. The numeric arguments are first converted to a common type. A zero right argument raises the ZeroDivisionError exception. The arguments may be floating point numbers, e.g., 3.14%0.7 equals 0.34 (since 3.14 equals 4*0.7 + 0.34.) The modulo operator always yields a result with the same sign as its second operand (or zero); the absolute value of the result is strictly smaller than the absolute value of the second operand [1]. - Source: [https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations](https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations)

In [55]:
# the remainder from the division of the first argument by the second
10 % 3

1

#### Exponentiate

In [56]:
5 ** 2

25

## Variables

Often in Python, you want to reuse some value, you can do this easily using a **Variable**. I can overwrite some defined Variables if the datatype is **Mutable**.

### Variable Naming Rules

* Use lowercase without spaces.
* Use underscores in place of spaces.
* Name variables descriptively. 
* Do not start variable name with a number. 
* Avoid existing function and built-in names.

list

5

'Kat'

['Sara', 'Anna', 'Rodger', 'Kat', 'Matt', 'Unknown']

## Collections Data Types

### List
A list is a simple collection type, it is **Mutable**, you can add and/or remove items to it. Lists are **ordered**.

In [64]:
students = ['Sara', 'Anna', 'Rodger', 'Kat', "Matt"]

In [65]:
type(students)

list

In [66]:
len(students)

5

In [67]:
students[3]

'Kat'

In [81]:
students.append('Unknown')

In [82]:
students

['Anna', 'Kat', 'Matt', 'Rodger', 'Sara', 'Unknown']

In [83]:
# We've now changed the state of this list to be sorted
students.sort()
students

['Anna', 'Kat', 'Matt', 'Rodger', 'Sara', 'Unknown']

In [84]:
students.remove('Unknown')
students

['Anna', 'Kat', 'Matt', 'Rodger', 'Sara']

In [85]:
' is a student and '.join(students)

'Anna is a student and Kat is a student and Matt is a student and Rodger is a student and Sara'

### Dictionaries

Dictionaries are unordered data that has a **key** and a **value**.

#### Dictionaries can be nested

In [18]:
states = {
    "NY": {
        "fullname": "New York State",
        "motto": "GIS fo' eva!"
    },
    "NJ": {
        "fullname": "New Jersey",
        "motto": "Python in da houssssseee!",
        "founded": 1787,
        "industries": ['textile', 'silk', 'railroad locomotive']
    }
}

In [19]:
# We can overwrite values, what is this called?

### Other Collection Types 
* [Tuples](https://docs.python.org/3.4/c-api/tuple.html) - Tuples are **Immutable**
* [Sets](https://docs.python.org/2/library/sets.html) - Set's only include 1 of a unique element. 

We can talk about these later on, but you'll encounter this much less.

In [20]:
coordinates = (42, -73)  # Tuple

In [87]:
s = set(['nj', 'ny', 'nj', 'nj'])
# take list object and turn into a set object
# where set only preserves 1 of a unique element

print(s)

{'nj', 'ny'}

## Built-in Python Functions
We saw the `type()` function when we were looking at Data Types

In [22]:
# round

In [23]:
# get the length of s, the set from above